.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__social {
  margin-bottom: 1rem;
}

.footer__social a {
  color: whitesmoke;
  font-size: 1.8rem;
  margin-right: 1.4rem;
  transition: color 0.3s;
}

.footer__social a:hover {
  color: #007bff;
}

.footer__text {
  color: whitesmoke;
  font-size: 14px;
}
